
<ion-header>
    <ion-navbar>
            <ion-item class="seachbar-wrapper">
                <span clear item-start class="header-title" *ngIf="showtitle==true"><ion-title>{{pagetitle}}</ion-title></span>
                <ion-searchbar *ngIf="enableSearch==true" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
                </ion-searchbar>
                
                <span clear item-end><a (click)="showSearch()" class="navbarSearch-btn"><ion-icon name="search"></ion-icon></a></span>
            </ion-item>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="home-slide">
        <ion-slides autoplay="5000" loop="true" speed="500" pager="true">
          <ion-slide>
            <img class="radius"  src={{brands[0].imgUrl}}>
          </ion-slide>
    
          <ion-slide>
            <img class="radius"  src={{brands[1].imgUrl}}>
          </ion-slide>
    
          <ion-slide>
            <img class="radius"  src={{brands[2].imgUrl}}>
          </ion-slide>
    
        </ion-slides>
      </div>

    <div style="padding-bottom: 50px;">
      <ion-card *ngFor="let b of brands" class="brands-card">
          <ion-card-content>
            <ion-item class="brand-img">
              <a><img src={{b.imgUrl}}></a>
            </ion-item>
            <div class="brand-name">
              {{b.name}}
            </div>
            <ion-row>
              <ion-col col-4 *ngFor="let bs of bestSelling">
                <a (click)="productsDetails(bs.id)">
                  <img src={{bs.imgUrl}}></a>
                <span class="price">GHS {{bs.price}}</span>
              </ion-col>
            </ion-row>
          </ion-card-content>
      </ion-card>
    </div>
</ion-content>
